.booksection {
  padding-top: 10rem;
  display: flex;
  // height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $color-grey-light-1;
  &__title {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &--text {
      font-size: 4.2rem;
    }
  }
  &__books {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    // height: 80vh;
    padding: 5rem 4rem;
    gap: 8rem;
  }
  &__book-1 {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &__book-1--img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__book-1--img--cover {
    width: 70%;
  }
  &__book-1--details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 8rem;
  }
  &__book-1--header {
    font-size: 3rem;
  }
  &__book-1--text {
    line-height: 1.5;
    font-size: 1.6rem;
    text-align: justify;
  }

  &__book-2 {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &__book-2--details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 8rem;
  }
  &__book-2--header {
    font-size: 3rem;
  }
  &__book-2--text {
    line-height: 1.5;
    font-size: 1.6rem;
    text-align: justify;
  }
  &__book-2--img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__book-2--img--cover {
    width: 70%;
  }
}
#books {
  align-self: flex-end;
}
