.herosection {
  height: calc(100vh - 110px);
  background-color: $color-grey-light-2;
  background-image: url(../imgs/logo-oficium-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &__grid {
    background-color: transparent;
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-rows: 180px 1fr 100px;
    grid-template-columns: 250px 1fr 250px;
  }
  &__header {
    grid-column: 1 / span 10;
    grid-row: 1;
    &--text {
      font-size: 4.2rem;
      text-align: center;
      line-height: 1.2;
      width: 100%;
      // mix-blend-mode: screen;
      text-transform: uppercase;
      // text-shadow: 1px 1px white;
    }
  }
  &__details {
    display: block;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem;

    &--text {
      font-size: 1.8rem;
      text-align: center;
    }
  }
}
